.button {
    float: left;
    padding: 15px;   
    margin: 25px;
}



h1 {
    color: white;
    text-align: center;

}

body {

     background-image: url("images/lion.jpg")

}

.search {

    float: left;
    margin: 35px;
    padding: 10px;
    
}


p{
    text-align: center;
    color: white;
}

